# Git Identity Configuration
# Copy this file to .git_identity and fill in your details:
#   cp .git_identity.template .git_identity
#
# Then re-run install.sh to generate ~/.gitconfig.local

GIT_USER_NAME=""
GIT_USER_EMAIL=""
GIT_GITHUB_USER=""
